---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="mt-12 inline-flex items-center text-white">
    <h1
      class="mr-4 border-r border-r-zinc-300 pr-4 text-2xl leading-loose font-medium text-zinc-200"
    >
      404
    </h1>
    <p class="text-zinc-300">This page could not be found</p>
  </div>
</Layout>
