---
const navigationLinks = [
  {
    text: "home",
    href: "/",
  },
  {
    text: "projects",
    href: "/projects",
  },
  {
    text: "blog",
    href: "/blog",
  },
];
---

<header class="flex items-center justify-between py-5 text-zinc-300">
  <div>
    <a href="/"><img src="https://mohammedyh.dev/favicon.ico" alt="icon" width="30"></a>
  </div>
  <nav>
    {
      navigationLinks.map((link, idx) => (
        <>
          {/* prettier-ignore */}
          <a class="underline decoration-zinc-300/50" href={link.href}>{link.text}</a>
          {idx !== navigationLinks.length - 1 && <span> / </span>}
        </>
      ))
    }
  </nav>
</header>
