---
import projects from "@/lib/projects";

interface Props {
  limit?: number;
  displaySectionTitle?: boolean;
  displaySeeAllLink?: boolean;
}

const { limit = 0, displaySeeAllLink = false, displaySectionTitle = false } = Astro.props;
---

<section class="text-zinc-300">
  <div class="flex items-center justify-between">
    {displaySectionTitle && <h4 class="font-medium">Projects</h4>}
    {
      displaySeeAllLink && (
        <a
          class="text-sm text-zinc-400 underline transition-colors hover:text-zinc-300"
          href="/projects"
        >
          See all projects
        </a>
      )
    }
  </div>

  <ul class="mt-4 [&>li:first-child_div]:rounded-t-lg [&>li:last-child_div]:rounded-b-lg">
    {
      projects.slice(0, limit || undefined).map((project) => (
        <li class="group relative">
          <a
            href={project.link}
            target="_blank"
            rel="noopener noreferrer"
            class="block border-b border-zinc-800 py-4 pr-8"
          >
            <h5 class="font-medium transition-colors duration-300 ease-in-out group-hover:text-white">
              {project.name}
            </h5>
            <p class="mt-2 text-sm leading-relaxed text-zinc-400 transition-colors group-hover:text-zinc-300">
              {project.description}
            </p>
            <div class="mt-2.5 flex flex-wrap gap-2.5 text-xs tracking-wide text-zinc-400 transition-colors group-hover:text-zinc-300">
              {project.tech.map((tech) => (
                <span class="rounded-sm bg-zinc-700/60 px-1.5 py-1">{tech}</span>
              ))}
            </div>
          </a>
          <div class="absolute inset-0 -inset-x-4 -top-[1px] -z-10 transition-colors duration-300 ease-in-out group-hover:bg-zinc-800" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="absolute top-1/2 -right-1 hidden size-5 -translate-y-1/2 -rotate-45 fill-none stroke-current stroke-[2px]"
          >
            <line x1="5" y1="12" x2="19" y2="12" class="" />
            <polyline points="12 5 19 12 12 19" class="" />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="absolute top-1/2 -right-1 size-5 -translate-y-1/2 -rotate-45 fill-none stroke-current stroke-[2px] opacity-50 transition-all duration-300 ease-in-out group-hover:stroke-white group-hover:opacity-100"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
            />
            <polyline
              points="12 5 19 12 12 19"
              class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
            />
          </svg>
        </li>
      ))
    }
  </ul>
</section>
