---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-light.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" />
    <title>Mohammed-Yousuf Hamid</title>
  </head>
  <body class="bg-stone-900">
    <main class="font-body mx-auto max-w-2xl px-5 md:px-0">
      <slot />
    </main>
  </body>
</html>
